<!DOCTYPE html>
<html lang="es">
<head>Resgistrado
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<form method="POST" action="">{% csrf_token %}  <!-- token de seguridad de django par falsificacion-->
{{el_formulario.as_p}} <!-- el formumlario es el nombre que le dimos al views.py-->
<input type="submit" value="Guardar">
</form>
</body>
</html>